.loginpage{
  width: 100%;
  height: auto;
  min-height: 100% !important;
  background-color: #edf0f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.logindiv {
  width: 100vw;
  height: 100vh;
  background-color: #edf0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginBox {
  width: 600px;
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginButton{
  text-decoration: none; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #2c3a41; 
  border: none;
  color: white; 
  width: 20%;
  height: 10%;
}
.loginButton:hover{
  background-color: #1a2327;
  cursor: pointer;
}
