.registrationpage {
  width: 100vw;
  height: 100vh;
  background-color: #edf0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registrationdiv {
  background-color: white;
  width: 900px;
  height: auto;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 1.5%;
  overflow: auto;
}
.registrationspan {
  font-family: Arial;
  color: #1a2327;
  font-size: 28px;
  border-bottom: solid 2.2px #2c3a41;
  padding-bottom: 0.5%;
  margin-bottom: 1.5%;
}
.registrationbuttons {
  color: "white";
  background-color: #2c3a41;
  height: 35px;
  width: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: white;
}
.registrationbuttons:hover {
  background-color: #1a2327;
  cursor: pointer;
}

.regdiv {
  display: flex;
  justify-content: space-around;
  font-family: Arial;
  margin-top: 10px;
  width: 100%;
}

.reginput {
  margin-left: 5px;
  width: 50%;
}
.regpanel {
  font-family: Arial;
  color: #1a2327;
  width: 120px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}
